@import url("https://fonts.googleapis.com/css?family=Dr+Sugiyama|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;  
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Cinzel", serif;
  background-color: #000;
  color: #fff;
}

/* navbar */
#navbar {
  height: 100px;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #000;
}
.logo {
  text-align: center;
  margin: auto;
}
.logo-text {
  display: inline-block;
  font-size: 1.4rem;
  width: auto;
}
.menu {
  display: block;
  text-align: center;
}
.menu-left {
  display: block;
  margin: 0;
}
.menu-right {
  display: block;
  margin: 0;
}
.menu li {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 0.9rem;
}
.menu a:hover {
  color: #cc4242;
}
.fa-instagram {
  font-size: 1.1rem;
  margin-right: 1rem;
}
.fa-envelope {
  font-size: 1.1rem;
  margin-left: 1rem;
}
.fa-facebook-square {
  font-size: 1.1rem;
}

/* showcase */
.showcase-content {
  position: relative;
  top: 5rem;
  width: 100%;
  margin: auto;
 }
.showcase-logo {
  max-width: 320px;
}
.showcase-text_phone {
  font-size: 1.1rem;
}
.showcase-row img {
  position: relative;
  top: 4.6rem;
  width: 320px;
  margin: 1rem;
}
.showcase-text {
  text-align: justify;
  font-size: 0.9rem;
  margin: auto;
}
.showcase-text2 {
  text-align: justify;
  font-size: 0.9rem;
  max-width: 80%;
  margin: auto;
}

/* contact */
.map {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.form-group {
  width: 320px;
  margin: auto;
  margin-bottom: -3rem;
}
input[type=text], select, textarea, input[type=email], input[type=phone] {
  width: 100%; 
  padding: 0.4rem; 
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}
.form p {
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.form a{
  color: #cc4242;
}

/* Tattoo */
.container .img-area-port img{
  vertical-align: middle;
  max-width: 85vw;
}
.img-area-port {
  position: relative;
  top: 6rem;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 2rem;
}
.img-small {
  display: inline-block;
  width: fit-content;
  padding: 0.8rem;
}
/* Thanks */
.thanks {
  position: relative;
  top: 16rem;
  font-size: 1.2rem;
  color: white;
}
.thanks a:hover {
  color: #cc4242;
}

/* Terms of privacy */
#terms-content {
  object-fit: contain;
  align-self: auto;
  max-width: 90%;
  /* padding: 1rem; */
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: justify;
}
.terms-title {
  color: #c5c4c4;
  text-align: center;
}
.terms-text {
  color: #c5c4c4;
  text-align: justify;
}
.terms-text .privacy {
  text-decoration: none;
  color: #c5c4c4;
}

/* footer */

.footer {
  width: 100%;
  height: 2rem;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #000;
  z-index: 2;
}
.footer p {
  color: white;
  font-size: 0.6rem;
  vertical-align: middle;
  position: relative;
  bottom: -0.2rem;
}
