@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama|Poppins&display=swap');
*{
  /*  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins'; 
  line-height: 1.4;
  background-color: #000;
  }
a {
  text-decoration: none;
}


  /* Navbar */
  #navbar {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    background: #000000;
    color: #fff;
    justify-content: space-around;
    z-index: 1;
    height:120px;
   }
  .logo {
   font-family: 'Dr Sugiyama', cursive;
   font-size: 2.6em;
   justify-content: center;
   text-align: center;
   margin: 2rem;
  }
 
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    }
  #navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25;
  }
  #navbar ul li a:hover {
    background: #222;
    border-radius: 8px;
  }
  #navbar ul li i {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25;
  }
  /* Showcase */
  #showcase {
    background: #000 url('#') no-repeat center center/cover;
    height: 70vh;
    color: #000;
     }
  #showcase .showcase-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    color: #fff;
    background-color: #000;
    padding: 1rem 8rem 2rem 8rem;
    }
    #showcase .showcase-content .showcase-logo {
      display: flex;
      flex: 1;
      object-fit: contain;
      align-self: auto;
      padding-bottom: 4rem; 
    }
    #showcase .showcase-content .showcase-text {
      display: flex;
      flex: 2; 
      object-fit: contain;
      align-self: auto;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.2;
      text-align: justify;
  }
    .showcase-row {
      margin-top: 4rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
    }
    .showcase-row img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 240px;  
      margin: 1rem;
    }
 
  /* contact */
  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    text-align: center;
 
  }

  #contact .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }
  #contact .contact-form .form-group {
    margin: 0.75rem;
  }
  #contact .contact-form label {
    display: block;
    }
  #contact .contact-form input, #contact .contact-form textarea {
    width: 100%;
    padding: 0.6rem;
  }
 #contact .contact-form .btn-dark {
    font-weight: 700;   
    border: 0;
    border-radius: 1rem;
    width: 30%;
    height: 50%;
    }
#faq {
    padding: 2rem;
    color: #fff;
    margin: 0 12rem;
}

 /* Portfolio */
 #portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin: 2rem 12rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
  justify-content: center;
  padding: 3rem;
}

.container .img-area-port{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container .img-small {
  padding: 0.5rem;
    }
.container .img-small img {
  display: flex;

  }
.container .img-small:hover {
  transition: 1s;
  transform: scale(1.1);
  }

  /* footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #000000;
  color: #fff;
  height: 2.1rem;
   z-index: 1;
   
}
.footer-text {
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  color: #fff;
  margin-right: 4rem;

}
.footer-text i {
  font-size: 8px;
}
.copy {
  font-size: 14px;
}
.footer-name {
  font-size: 10px;
}
.insta-nav {
  color: #fff;
}
