@import url("https://fonts.googleapis.com/css?family=Dr+Sugiyama|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

* {
  /*  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;

}
body {
  font-family: "Cinzel", serif;
  background-color: #000;
}
a {
  text-decoration: none;
}

/* Navbar */
